<!DOCTYPE html>
<html>
  <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-with, initial-scale=1">
        
        <link rel="stylesheet" href="https://meyerweb.com/eric/tools/css/reset/reset.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    

      <link href="\css\fonts.css" rel="stylesheet">
      <link href="\css\header.css" rel="stylesheet">
      <link href="\css\home.css" rel="stylesheet">
      <link href="\css\footer.css" rel="stylesheet">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet">

      

      <link  href="https://fonts.gstatic.com" rel="preconnect">
      <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet">
    
        <title> MercadoLiebre </title>
    </head>


  <body>
         <header>
                 <section id="top-header"> 

                    <figure>
                        <a href="/">
                    <img id="logo" src ="/images\logo-mercado-liebre.svg" alt=""></a>
                    </figure>
                    <form id="form-barrabusqueda" action="/" method="GET">
                        <input id="barra" type="text" name="search" placeholder="Buscar productos,marcas"> <input id="boton-busqueda" type="submit" value="">
                        <i id="lupa" class="fas fa-search"></i>
                     </form>
                   <p id="holding-usd"> <i class="fas fa-hand-holding-usd"></i>  Comprá en cuotas y sin tarjeta de crédito</p>

                  
                </section>
        
               <section id="bottom-header" >
                <nav class="menu"  id="main-menu">
            
                <ul>
                 <li><a href ="">Ofertas</a></li>
                 <li><a href ="">Tiendas Oficiales</a></li>
                 <li><a href ="">Vender </a></li>
                 <li><a href ="">Ayuda</a></li> 
                </ul>    

                </nav>

                <nav class="menu"   id="user-menu">
                    <ul>
                        <li><a href ="/register">  Creá tu cuenta  </a> <i class="far fa-address-card"></i></li>
                        <li><a href ="/login">  Ingresá </a> <i class="fas fa-sign-in-alt"></i>
                        <li><a href =""> Mis compras </a> <i class="fas fa-shopping-basket"></i> 
                    </ul>
                </nav>
            </section>
                
                    <i class="fas fa-bars" id="burger-bottom"></i>
                

     
                <figure>

                    <img id="banner" src= "\images\img-home-banner.jpg" alt="">

                </figure>

            </header>

         <main class="content">

            <h2> Basado en tu última visita</h2>
            <section class="ultima-visita" >
                    <article id="cafetera">

                     <figure>
                             <img src = "\images\img-cafetera-moulinex.jpg" alt="">  
                    </figure>

                    <section class="description">
                            <ul>
                                
                                    <li class="truck"> <i class="fas fa-truck"></i></li>
                                    <li class="precio">$6.770</li> 
                                    <li class="descuento">40% OFF</li>
                                    <li class= "nombre-prod"> <h3>Cafetera Moulinex</h3></li>
                                </ul>

                    </section>
                </article>
   
                <article id="macbook">    
                          <figure>  
                                 <img src = "\images\img-macbook-pro-2019.jpg" alt="">
                          </figure>
                          <section class="description">
                                <ul>
                          
                                      <li class= "truck"> <i class="fas fa-truck"></i></li>
                                      <li class="precio">$230.000</li>
                                      <li class="descuento">20% OFF</li>
                                      <li class= "nombre-prod"><h3> MacBook Pro 2019</h3></li>
                                </ul>
                            </section>
                </article>    
       
                <article id="celular">   

                            <figure>
                                    <img src = "/images\img-samsung-galaxy-s10.jpg" alt="">
                            </figure>
                            
                            <section class="description">   
        
                            <ul>
            
                                <li class= "truck"> <i class="fas fa-truck" ></i></li>
                                <li class="precio">$70.500</li>
                                <li class="descuento">10% OFF</li>
                                <li class= "nombre-prod"> <h3>Samsung Galaxy S10</h3></li>
                            </ul>
                            </section>

                </article>

                <article id="tv"> 

                            <figure>
                                    <img src = "\images\img-tv-samsung-smart.jpg" alt="">
                            </figure>
                           
                            <section class="description">

                            <ul>   
               
                                        <li class= "truck"> <i class="fas fa-truck"></i></li>
                                        <li class="precio"> $23.200</li>
                                        <li class="descuento" >5% OFF</li>
                                        <li class= "nombre-prod"> <h3>SmartTv Samsung 43"</h3></li>
                            </ul>
                           </section>
                </article> 
   
            </section>
            <h2> Ofertas</h2>
            <section class="ofertas">
                            <article id="cafetera">

                            <figure> 
                                 <img src = "\images\img-cafetera-moulinex.jpg" alt="">
                            </figure>
                            <section class="description"> 
                                <ul>
          
                                    <li class= "truck"> <i class="fas fa-truck"></i></li>
                                    <li class= "precio">$6.770</li> 
                                    <li class="descuento">40% OFF</li>
                                    <li class= "nombre-prod"> <h3>Cafetera Moulinex</h3></li>
                           
                              </ul>
                            </section>
                    </article>

                    <article id="macbook">    
                             <figure>  
                                    <img src = "\images\img-macbook-pro-2019.jpg" alt="">
                
                             </figure>

                             <section class="description">
                                     <ul>

                                        <li class= "truck"> <i class="fas fa-truck"></i></li>
                                        <li class= "precio">$230.000</li>
                                        <li class="descuento" >20% OFF</li>
                                        <li class= "nombre-prod"><h3> MacBook Pro 2019</h3></li>
                                    </ul>
                             </section>
                     </article>    
   
                    <article id="celular">   
                            <figure>
                                
                                    <img src = "/images\img-samsung-galaxy-s10.jpg" alt="">
                            </figure>   
                            <section class="description">
                            
                                <ul>

         
                                    <li class= "truck"> <i class="fas fa-truck"></i></li>
                                    <li class="precio">$70.500</li>
                                    <li class="descuento">10% OFF</li>
                                    <li class= "nombre-prod"> <h3>Samsung Galaxy S10</h3></li>
                            
                                 </ul>
                            </section>
                     </article>    
   
                     <article id="tv"> 
                            <figure>
                                 <img src = "\images\img-tv-samsung-smart.jpg" alt="">
                            </figure>
                            
                            <section class="description">
                                <ul>   
                                     <li class= "truck"> <i class="fas fa-truck"></i></li>
                                     <li class="precio">$23.200</li>
                                     <li class="descuento">5% OFF</li>
       
                                     <li class= "nombre-prod"> <h3>SmartTv Samsung 43"</li></h3>
                                </ul>
                            </section>
                        </article> 
                </section>

            </main>



            <footer>

    
                <section>
        
                 <i class="fas fa-credit-card"></i>

                 <h2>Pagá con tarjeta o en efectivo</h2>
            
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!
                    </p>
    
                 </section>
   
                    <section>
                     <i class="fas fa-gift"></i>
                     <h2> Envío gratis desde $ 2.500</h2>
            
                     <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                     productos. Es un beneficio de Mercado Puntos.
                        </p>
            
                 </section>
                <section>
                    <i class="fas fa-user-shield"></i>

                    <h2> Seguridad, de principio a fin </h2>
        
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.
                    </p>
    
                 </section>
    
                   <p> Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    
            </footer>
        </body>
</html>